body {
    font-family: 'Titillium Web', sans-serif;
    color: #606060;
    margin: 0;
}

.description {
    text-align: center;
    margin: 0 200px 30px 200px;
    padding-top: 64px;
}

.subtitle {
    color: #ff1637;
    font-weight: bold;
}

.title {
    font-size: 40px;
    color: black;
    margin: 5px;
    font-weight: 400;
}

.features {
    display: flex;
    text-align: center;
    padding: 0 120px;
}

.features_box {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    transition: 1s;
    margin: 0 15px;
    padding: 20px 15px;
    font-size: 15px;
}

.features_box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px 5px;
}

.features_circle {
    height: 90px;
    width: 90px;
    background-color: #ff1637;
    border-radius: 50%;
    margin: auto;
}

.features_circle i{
    font-size: 28px;
    margin-top: 31px;
    color: white;
}

.achievement_section{
    padding: 100px 0;
    margin: 100px 0;
    background-image:url("img/achivements_banner.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.achievements_statistic{
    padding-left: 120px;
}

.achievements_title {
    color: black;
    font-weight: lighter;
    font-size: 40px;
    margin-top: 5px;
}

.achievements_subtitle{
    color: #ff1637;
    font-weight: 500;
    margin-bottom: 5px;
}
.achievements{
    display: flex;
    justify-content: space-between;
    width: 47%;
    margin-left: 120px;
}

.achievement_box{
    height: 170px;
    width: 190px;
    background-color: #ff1637;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.number{
    margin: 10px;
    font-size: 35px;
    font-weight: lighter;
}

.black{
    background-color: black;
}

.red{
    background-color: #ff1637;
}

.yellow {
    background-color: #f1c30f;
}

.achievement_box i{
    color: white;
    font-size: 35px;
    transition: 1s;
}

.achievement_box:hover i{
    padding-bottom: 10px;
}

.name{
    font-size: 18px;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.team_member{
    margin: 15px;
}

.team_member_description{
    text-align: center;
}

.member_name {
    font-size: 25px;
    margin:4px;
    color: black;
}

.status {
    margin: 4px;
}

hr{
    border: none;
    height: 3px;
    width: 35px;
    background-color: #f1c30f;
}

.team_icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
}

.design_agency{
    position: relative;
    display: flex;
    justify-content: center;
    height: 468px;
    margin-bottom: 100px;
}

.design_description{
    width: 50%;
    background-color: #f1c30f;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agency_photo {
    width: 50%;
    overflow: hidden;
}

.agency_photo_img {
    height: 100%;
    width: 100%;
    transition: 1s;
}

.agency_photo_img:hover{
    transform: scale(1.2);
}

.agency_title {
    font-size: 60px;
    font-weight: 100;
    line-height: 1.2;
    margin: 0 20px;
}

.agency_subtitle {
    margin: 25px 20px;
    font-size: 17px;
}

.play_button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #ff1637;
    border-radius: 50%;
    z-index: 1;
    top:42%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.play_button:hover {
    background-color:white;
    color: #ff1637;
}

.fixed_menu{
    position: fixed;
    top: 0;
    height: 64px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    background-color: white;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

.first_part{
    display: flex;
    justify-content: space-between;
    width: 30%
}

.second_part{
    display: flex;
    justify-content: space-between;
    width: 30%
}

.logo{
    display: block;
    width: 150px;
    height: 30px;
}

.header_nav{
    transition:1s;
}

.header_nav:hover{
    color: #ff1637;
    cursor:pointer;
}

.pricing{
    padding-bottom: 150px;
    background-color: #f6f6f6;
}

.packages{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0 120px;
}

.package,
.package_standard {
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    transition: 1s;
    background-color: white;
    padding: 10px 65px 40px;
    margin-top: 100px;
    color: black;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.package:hover{
    background-color: black;
    color: white;
}

.package_standard{
    position:relative;
    margin-top: 40px;
}

.package_standard:hover{
    background-color: #f1c30f;
    color:white;
}

.package_title,
.package_title_standard{
    font-size: 25px;
    font-weight: 500;
}

.package_title_standard{
    margin: 30px 0 1px;
}

.subtitle_standard{
    margin: 0 0 44px;
    color: grey;
}

.price_line{
    border: none;
    height: 1px;
    width: 155px;
    background-color: dimgrey;
}

.price{
    font-size:62px;
}

.sign_button,
.sign_button_standard{
    height: 42px;
    width: 106px;
    background-color: black;
    border-radius: 36px;
    color: white;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_button_standard{
    background-color: #f1c30f;
    color: white;
}

.sign_button:hover {
    background-color: white;
    color:black;
}

.sign_button_standard:hover{
    background-color: white;
    color:black;
}

.triangle{
    position: absolute;
    left:0;
    top:0;
    width: 0;
    height: 0;
    border-top: 100px solid #f1c30f ;
    border-right: 100px solid transparent;
}

.special{
    font-weight: 100;
    position: absolute;
    left: 9px;
    color: white;
    top: -81px;
    transform: rotate(-45deg);
}