body {
    font-family: 'Titillium Web', sans-serif;
    color: #606060;
}
.features_description {
    text-align: center;
}

.features_subtitle {
    color: #ff1637;
    font-weight: bold;
}

.features_title {
    font-size: 40px;
    color: black;
}

.features_text {
    margin: 0 200px 50px 200px;
}

.features {
    display: flex;
    text-align: center;
    padding: 0 100px;
}

.features_box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 1s;
    margin: 0 15px;
    padding: 20px 15px;
    font-size: 15px;
}

.features_box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 10px 5px;
}

.features_circle {
    height: 90px;
    width: 90px;
    background-color: #ff1637;
    border-radius: 50%;
    margin: auto;
    justify-content: end;
}

i{
    font-size: 28px;
    margin-top: 31px;
    color: white;
}
.yellow {
    background-color: #f1c30f;
}
